<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      {{getName()}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['boardlist']">Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['userlist']">User</a>
        </li>
        <li class="nav-item" *ngIf="!localStorageItem()">
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="localStorageItem()">
          <a class="nav-link" href="#" (click)="doLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br><br>
<div class="container">
<router-outlet></router-outlet>
</div>
