<div class="search">
    제목 : <input type="test" id="title"><br>
    작성자 : <input type="test" id="writer"><br>
    내용 : <input type="test" id="content"><br>
    <button>검색</button>
</div>
<table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
  <thead>
      <tr>
          <th><input type="checkbox" [(ngModel)]="allChecked"></th>
          <th>번호</th>
          <th>아이디</th>
          <th>이름</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td><input type="checkbox" value="{{user.num}}" name="numCheck" [checked]="allChecked"></td>
      <td>{{user.num}}</td>
      <td><a routerLink="/userview/{{user.num}}">{{user.name}}</a></td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td colspan="5"><button>글쓰기</button><button (click)="doDelete()">삭제</button></td>
    </tr>
  </tbody>
</table>